# OS / 系统缓存
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.venv/
.env

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# LangChain 索引或模型缓存
data/index/
*.faiss
*.pkl
*.pt
*.bin
.cache/
