# FastAPI 服务
fastapi
uvicorn

# LangChain 核心
langchain

# 向量检索和嵌入模型
faiss-cpu
sentence-transformers

# 文档处理（可选，适用于 JSON/PDF/Text）
# pydantic
# tqdm

# LLM 接入方式（任选其一或多种）
# openai               # 若用 OpenAI
# transformers         # 若用 HuggingFace 本地模型
# ollama               # 若调用 Ollama 本地 LLaMA 模型（如需要）

#前端
streamlit
plotly
pandas
requests
